<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="957014fb-0b23-4b99-9306-838f2aab665b" name="TS_GetPetByID" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="IncludeOverview">true</con:setting><con:setting id="IncludeResults">true</con:setting><con:setting id="FlowLayout">false</con:setting><con:setting id="ErrorDetails">true</con:setting><con:setting id="IncludeCoverage">true</con:setting><con:setting id="957014fb-0b23-4b99-9306-838f2aab665bfileName">TS_GetPetByID</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>